@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Groupe";
  src: url("./fonts/Groupe/groupemedium-8mxgn.otf") format("truetype");
}

.App {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  z-index: 10;
}


#light {
  background-color: aliceblue;
  color: #202020;
  -webkit-transition: 400ms; /* For Safari 3.1 to 6.0 */
  transition: 400ms;
}
#dark {
  color: rgb(240, 240, 240);
  background-color: rgb(4, 19, 32);
  -webkit-transition: 400ms; /* For Safari 3.1 to 6.0 */
  transition: 400ms;
}
