@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@font-face {
  font-family: "Groupe";
  src: url("./fonts/Groupe/groupemedium-8mxgn.otf") format("truetype");
}

.App {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: 10;
}


#light {
  /* background-color: rgb(237, 241, 243); */
  color: #202020;
  -webkit-transition: 400ms; /* For Safari 3.1 to 6.0 */
  transition: 400ms;
}
#dark {
  color: rgb(240, 240, 240);
  /* background-color: rgb(4, 19, 32); */
  -webkit-transition: 400ms; /* For Safari 3.1 to 6.0 */
  transition: 400ms;
}


@media only screen and (min-width:768px){
  body{
   font-size: 16px;
  } 
 }
 
 @media only screen and (min-width:480px) and (max-width:768px) {
   body{
    font-size: 15px;
   } 
  }
 
  @media only screen and (max-width:479px){
   body{
    font-size: 14px;
   } 
  }
 
 
 /* scroll bar */
 /* width */
 ::-webkit-scrollbar {
   width: 6px;
 }
 
  /* Track  */
 ::-webkit-scrollbar-track {
   background: transparent;
 }
 
 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: #252525;
   border-radius: 8px; 
   width: 5px;
  }  
 #dark ::-webkit-scrollbar-thumb {
   background: #d3d3d3;
   border-radius: 8px; 
   width: 5px;
  }  
 
 